p{
	color: white;
}

a{
	display: flex;
	text-decoration: none;
	text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
	margin-right: 50px;
	align-items: center;
}
h1{
	font-family: montserrat;
	color: white;
	
}
.tab{
	display: flex;
	font-family: montserrat;
	font-size: 17px;
	font-weight: 600;

}
.flex-container{
	display: flex;
}
.rectangle-container{
	display: flex;
	background-color: #283962;
}
.rectangle-container1{
	display: flex;
	background-color: #314aa9;
}